<%= form_with(model: assignment, local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :assignment_description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :exercise_type_id %>
    <%= form.collection_select :exercise_type_id, ExerciseType.all, :id, :name, { prompt: true }, class: "form-control" %>
  </div>

    <div class="field">
      <%= form.label :course_id %>
      <%= form.collection_select :course_id, Course.all, :id, :name, { prompt: true }, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :part %>
      <%= form.text_field :part, id: :assignment_part, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :show_results_to_user %>
      <%= form.check_box :show_results_to_user, id: :assignment_show_results_to_user, class: "form-control"  %>
    </div>

    <div class="field">
      <%= form.label :mandatory_tags %>
      <%= form.check_box :mandatory_tags, id: :assignment_mandatory_tags, class: "form-control"  %>
    </div>

  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
