<%= form_with(model: assignment, local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>For instructions, see <a href="https://github.com/rage/crowdsorceress/blob/english/documentation/admin_instructions.md">the documentation</a></p>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :assignment_description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :exercise_type_id %>
    <%= form.collection_select :exercise_type_id, ExerciseType.all, :id, :name, { prompt: true }, class: "form-control" %>
  </div>

    <div class="field">
      <%= form.label :course_id %>
      <%= form.collection_select :course_id, Course.all, :id, :name, { prompt: true }, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :part %>
      <%= form.text_field :part, id: :assignment_part, class: "form-control" %>
    </div>

  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
