<p id="notice"><%= notice %></p>

<h1>Assignments</h1>

<table class="table table-hover ">
  <thead class="thead-inverse">
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Exercise type</th>
      <th>Exercises</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.id, assignment %></td>
        <td><%= link_to assignment.description, assignment %></td>
        <td><%= link_to assignment.exercise_type.name, assignment.exercise_type %></td>
        <td><%= link_to assignment.exercises.count, exercises_path(assignment_search_term: assignment.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path, class: "btn btn-primary" %>
