<%= form_with(model: exercise_type, local: true) do |form| %>
    <% if exercise_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(exercise_type.errors.count, "error") %> prohibited this exercise_type from being saved:</h2>

          <ul>
            <% exercise_type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :exercise_type_name, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :testing_type %>
      <%= form.select :testing_type, input_output: "input_output", student_written_tests: "student_written_tests", io_and_code: "io_and_code", tests_for_set_up_code: "tests_for_set_up_code", whole_test_code_for_set_up_code: "whole_test_code_for_set_up_code", input_output_tests_for_set_up_code: "input_output_tests_for_set_up_code" %>
    </div>

    <div class="field">
      <%= form.label :code_template %>
      <%= form.text_area :code_template, id: :exercise_type_code_template, class: "form-control", rows: 10 %>
    </div>

    <div class="field">
      <%= form.label :input_type %>
      <%= form.text_field :input_type, id: :exercise_type_input_type, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :output_type %>
      <%= form.text_field :output_type, id: :exercise_type_output_type, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :test_template %>
      <p>Remember to add the %&lt;tests&gt;s tag and, if needed, the %&lt;mock_stdio_init&gt;s tag to the template.</p>
      <%= form.text_area :test_template, id: :exercise_type_test_template, class: "form-control", rows: 10 %>
    </div>

    <div class="field">
      <%= form.label :test_method_template %>
      <p>Remember to add the &lt;assertion&gt; tag to the template.</p>
      <%= form.text_area :test_method_template, id: :exercise_type_test_method_template, class: "form-control", rows: 10 %>
    </div>

    <div class="actions">
      <%= form.submit nil, class: "btn btn-primary" %>
    </div>
<% end %>
