<p id="notice"><%= notice %></p>

<h1>Exercise Type <%= @exercise_type.id%></h1>

<p>The templates are indented correctly, even if this page shows too much indentation on the first row.</p>

<p>
  <strong>Exercise type name:</strong>
  <%= @exercise_type.name %>
</p>

<p>
  <strong>Code template:</strong>
  <pre>
    <code> <%= @exercise_type.code_template %></code>
  </pre>
</p>

<p>
  <strong>Input type:</strong>
  <pre>
    <%= @exercise_type.input_type %>
  </pre>
</p>

<p>
  <strong>Output type:</strong>
  <pre>
    <%= @exercise_type.output_type %>
  </pre>
</p>

<p>
  <strong>Testing type:</strong>
  <%= @exercise_type.testing_type %>
</p>

<p>
  <strong>Testing a method:</strong>
  <%= @exercise_type.testing_a_method %>
</p>

<p>
  <strong>Test template:</strong>
  <pre>
    <code><%= @exercise_type.test_template ? @exercise_type.test_template : 'No test template' %></code>
  </pre>
</p>

<p>
  <strong>Test method template:</strong>
<pre>
    <code><%= @exercise_type.test_method_template ? @exercise_type.test_method_template : 'No test method template' %></code>
  </pre>
</p>

<strong>Assignments that use this exercise type:</strong>
<p>
  <% @assignments.each do |assignment| %>
      <%= link_to assignment.id, assignment %>
  <% end %>
</p>

<%= link_to 'Edit', edit_exercise_type_path(@exercise_type), class: "btn btn-primary" %>
<%= link_to 'Back', exercise_types_path, class: "btn btn-secondary" %>
<%= link_to 'Destroy', @exercise_type, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }  %>
