<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise_type.name %>
</p>

<p>
  <strong>Test template:</strong>
  <%= @exercise_type.test_template %>
</p>

<p>
  <strong>Code template:</strong>
  <%= @exercise_type.code_template %>
</p>

<%= link_to 'Edit', edit_exercise_type_path(@exercise_type) %> |
<%= link_to 'Back', exercise_types_path %>
