<%= form_with(model: peer_review, local: true) do |form| %>
  <% if peer_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(peer_review.errors.count, "error") %> prohibited this peer_review from being saved:</h2>

      <ul>
      <% peer_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :peer_review_user_id %>
  </div>

  <div class="field">
    <%= form.label :exercise_id %>
    <%= form.text_field :exercise_id, id: :peer_review_exercise_id %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :peer_review_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
