<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<p>Tags are not supported in the English/Python version</p>

<strong>There are <%= @tags_count%> tags</strong>

<table class="table table-hover ">
  <thead class="thead-inverse" >
    <tr>
      <th>Name</th>
      <th class="recommended-column">Recommended</th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, tag %></td>
        <td class="recommended-column"><%= tag.recommended ? "\u2713": "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tags %>
<%= page_entries_info @tags %>

<br>

<%= link_to 'New Tag', new_tag_path, class: "btn btn-primary" %>
