<p id="notice"><%= notice %></p>

<h1><%= @tag.name %></h1>

<p>
  <strong>Recommended:</strong>
  <%= @tag.recommended %>
</p>

<% if @tag.exercises.empty? && @tag.exercises_via_peer_reviews.empty? %>
  <p>No exercises tagged with <%= @tag.name %></p>
<% else %>
  <strong>Exercises tagged with <%= @tag.name %>:</strong>
    <ul>
    <% @tag.exercises.each do |exercise| %>
    <li>
      <%= link_to exercise.id, exercise %>
    </li>
    <% end %>
    <% @tag.exercises_via_peer_reviews.each do |exercise|%>
    <li>
      <%= link_to exercise.id, exercise %>
    </li>
    <% end %>
  </ul>
<% end %>

<p>
<%= link_to 'Edit', edit_tag_path(@tag), class: "btn btn-primary" %>
<%= link_to 'Back', tags_path, class: "btn btn-secondary" %>
<%= link_to 'Destroy', tag_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</p>
