<p id="notice"><%= notice %></p>

<h1>Course <%= @course.id %></h1>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<% if @assignments_count > 0 %>

    <h4>Assignments for <%= @course.name %>:</h4>

    <p>
      <strong><%= @assignments_count %> assignments in total</strong>
    </p>

<table class="table table-hover">
  <thead class="thead-inverse">
  <tr>
    <th>Id</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
  <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.id, assignment %></td>
        <td><%= link_to assignment.description, assignment %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% end %>

<%= paginate @assignments %>
<%= page_entries_info @assignments %>

<br>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
