<p id="notice"><%= notice %></p>

<h1>Exercises</h1>

<p>
  <strong> There are <%= @exercises_count %> exercises<%= @exercise_count_msg %></strong>
    <% if @exercises_count > 0 %>
      <ul>
        <li><%= "finished: #{@finished_count} (#{(@finished_count/@exercises_count.to_f * 100).round(2)}%)"%></li>
        <li><%= "errror: #{@error_count} (#{(@error_count/@exercises_count.to_f * 100).round(2)}%)" %></li>
        <li><%= "timeout: #{@timeout_count} (#{(@timeout_count/@exercises_count.to_f * 100).round(2)}%)" %></li>
      </ul>
    <% end %>
</p>

<p>
  <%= form_tag exercises_path, method: :get do %>
      Search by assignment id: <%= text_field_tag :assignment_search_term, params[:assignment_search_term] %>
      Search by status: <%= text_field_tag :status_search_term, params[:status_search_term] %>
      <%= submit_tag "Search", name: nil %>
  <% end %>
</p>

<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>User</th>
      <th>Assignment</th>
      <th>Status</th>
      <th>Peer review count</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= link_to exercise.user.username, exercise.user %></td>
        <td><%= link_to exercise.assignment_id, exercise.assignment %></td>
        <td><%= exercise.status %></td>
        <td><%= exercise.peer_reviews_count %></td>
        <td><%= link_to 'Show', exercise %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= paginate @exercises %>
<%= page_entries_info @exercises %>

<br>

<%= link_to 'New Exercise', new_exercise_path, class: 'btn btn-danger', data: { confirm: "Are you sure you don't want to do this with Crowdsorcerer?" } %>
