<p id="notice"><%= notice %></p>

<h1>Exercise <%= @exercise.id %></h1>

<p>
<strong>Created:</strong>
  <%= @exercise.created_at %>
</p>


<p>
<strong>Updated:</strong>
  <%= @exercise.updated_at %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= link_to @exercise.assignment_id, @exercise.assignment %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @exercise.user.username, @exercise.user %>
</p>

<p>
  <strong>Code:</strong>
  <pre>
    <code><%= @exercise.code %></code>
  </pre>
</p>

<p>
  <strong>Testio:</strong>
  <pre>
<%= JSON.pretty_generate(@exercise.testIO) %>
  </pre>
</p>

<p>
  <strong>Description:</strong>
  <pre>
<%= JSON.pretty_generate(@exercise.description) %>
  </pre>
</p>

<p>
  <strong>Status:</strong>
  <%= @exercise.status %>
</p>

<p>
  <strong>Error messages:</strong>
<pre>
<%= JSON.pretty_generate(@exercise.error_messages) %>
  </pre>
</p>

<p>
  <strong>Sandbox results:</strong>
<pre>
<%= JSON.pretty_generate(@exercise.sandbox_results) %>
  </pre>
</p>

<p>
  <strong>Model solution:</strong>
  <pre>
    <code><%= @exercise.model_solution ? @exercise.model_solution : 'No model solution' %></code>
  </pre>
</p>

<p>
  <strong>Template:</strong>
  <pre>
    <code><%= @exercise.template ? @exercise.template : 'No template'%></code>
  </pre>
</p>

<p>
  <strong>Peer reviews count:</strong>
  <%= @exercise.peer_reviews_count %>
</p>

<% if @exercise.peer_reviews_count > 0 %>
    <p>
      <strong>Peer reviews:</strong>
    </p>
    <ul>
      <% @exercise.peer_reviews.each do |peer_review| %>
          <li>
            <p>
              <strong>Reviewer:</strong>
              <%= link_to peer_review.user.username, peer_review.user %>
            </p>
            <p>
              <strong>Comment:</strong>
            </p>
            <pre>
              <%= peer_review.comment %>
            </pre>
            <strong>Reviewer recommends these tags for the exercise:</strong>
            <% if peer_review.tags %>
                <ul>
                  <% peer_review.tags.each do |tag| %>
                      <li> <%= link_to tag.name, tag %></li>
                  <% end %>
                </ul>
            <% else %>
                <p> 'No tags' </p>
            <% end %>
          </li>
      <% end %>
    </ul>
<% end %>

<strong>Tags:</strong>
<% if @exercise.tags %>
<ul>
 <% @exercise.tags.each do |tag| %>
  <li> <%= link_to tag.name, tag %></li>
 <% end %>
 </ul>
<% else %>
  <p> 'No tags' </p>
<% end %>

<%= link_to 'Edit', edit_exercise_path(@exercise), class: "btn btn-primary" %>
<%= link_to 'Back', exercises_path, class: "btn btn-secondary"  %>
<%= link_to 'Destroy', @exercise, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }  %>
