<p id="notice"><%= notice %></p>

<h1>Exercise <%= @exercise.id %></h1>

<p>
<strong>Created:</strong>
  <%= @exercise.created_at %>
</p>


<p>
<strong>Updated:</strong>
  <%= @exercise.updated_at %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= link_to @exercise.assignment_id, @exercise.assignment %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @exercise.user.username, @exercise.user %>
</p>

<p>
  <strong>Code:</strong>
  <pre>
    <code><%= @exercise.code %></code>
  </pre>
</p>

<p>
  <strong>Testio:</strong>
  <pre>
<%= JSON.pretty_generate(@exercise.testIO) %>
  </pre>
</p>

<p>
  <strong>Unit tests as array:</strong>
  <pre>
    <code><%= @exercise.unit_tests %></code>
  </pre>
</p>

<% unless @exercise.assignment.exercise_type.testing_type == 'input_output' %>
  <p>
    <strong>Unit test code:</strong>
    <pre>
      <code>
        <%= @exercise.unit_tests.map { |test| test['test_code'] }.join("\n\n") %>
      </code>
    </pre>
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <pre>
<%= JSON.pretty_generate(@exercise.description) %>
  </pre>
</p>

<p>
  <strong>Status:</strong>
  <%= @exercise.status %>
</p>

<p>
  <strong>Error messages:</strong>
<pre>
<%= JSON.pretty_generate(@exercise.error_messages) %>
  </pre>
</p>

<p>
  <strong>Sandbox results:</strong>
<pre>
<%= JSON.pretty_generate(@exercise.sandbox_results) %>
  </pre>
</p>

<p>
  <strong>Model solution:</strong>
  <pre>
    <code><%= @exercise.model_solution ? @exercise.model_solution : 'No model solution' %></code>
  </pre>
</p>

<p>
  <strong>Template:</strong>
  <pre>
    <code><%= @exercise.template ? @exercise.template : 'No template'%></code>
  </pre>
</p>

<p>
  <strong>Peer reviews count:</strong>
  <%= @exercise.peer_reviews_count %>
</p>

<p>
  <strong>Peer review average:</strong>
  <%= @exercise.average_grade %>
</p>

<p>
  <strong>Peer review question averages:</strong>
  <ul>
  <% @exercise.peer_review_question_averages.each do |question, average|%>
    <li>
      <%= "#{question}: #{average}" %>
    </li>
  <% end %>
  </ul>
</p>

<% if @exercise.peer_reviews_count > 0 %>
    <strong>Peer reviews:</strong>
    <ul>
      <% @exercise.peer_reviews.each do |peer_review| %>
        <li>
          <%= link_to "Review #{peer_review.id}", peer_review%> by <%= link_to peer_review.user.username, peer_review.user %>
      <% end %>
    </ul>
<% end %>

<strong>Tags given by <%= @exercise.user.username%> :</strong>
<% if @exercise.tags %>
<ul>
 <% @exercise.tags.each do |tag| %>
  <li> <%= link_to tag.name, tag %></li>
 <% end %>
 </ul>
<% else %>
  <p> 'No tags' </p>
<% end %>
<strong>Tags given by peer reviewers:</strong>
<ul>
<% @exercise.peer_review_tags.each do |tag, count| %>
  <li> <%= link_to "#{tag.name} #{count > 1 ? " (#{count.to_s})" : ""}", tag %></li>
<%end%>
</ul>


<%= link_to 'Edit', edit_exercise_path(@exercise), class: "btn btn-primary" %>
<%= link_to 'Back', exercises_path, class: "btn btn-secondary"  %>
<%= link_to 'Destroy', @exercise, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }  %>
